<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="icon" type="image/svg+xml" href="LifeWild.svg" /> -->
    <link rel="stylesheet" href="apiSection.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Section - LifeWild</title>
</head>
<body>
    <div class="header-container">
        <a class="project-logo-container" href="/">
            <img class="project-logo" src="LifeWild.svg"/>
            <h1>LifeWild Backend</h1>
        </a>
    </div>
    <div class="body-wrapper">
        <div class="title-wrapper">
            <h1>API Section</h1>
            <p>Return to <a href="/">homepage</a>.</p>
        </div>
        <div class="link-wrapper">
            <h2>List of APIs</h2>
            <ul>
                <li><a href="/api/all/" rel="noopener noreferrer">Get All LifeWild Objects</a></li>
                <li><a href="/api/id/" rel="noopener noreferrer">Search by Id</a></li>
                <li><a href="/api/vernacular-name/" rel="noopener noreferrer">Vernacular Names</a></li>
                <li><a href="/api/binomial-name/" rel="noopener noreferrer">Binomial Names</a></li>
                <li><a href="/api/conservation-status/" rel="noopener noreferrer">Conservation Status</a></li>
                <li>
                    <a href="/api/classification/" rel="noopener noreferrer">Classification</a>
                    <ul>
                        <li><a href="/api/classification/domain" rel="noopener noreferrer">Domain</a></li>
                        <li><a href="/api/classification/kingdom" rel="noopener noreferrer">Kingdom</a></li>
                        <li><a href="/api/classification/phylum" rel="noopener noreferrer">Phylum</a></li>
                        <li><a href="/api/classification/subphylum" rel="noopener noreferrer">Subphylum</a></li>
                        <li><a href="/api/classification/class" rel="noopener noreferrer">Class</a></li>
                        <li><a href="/api/classification/subclass" rel="noopener noreferrer">Subclass</a></li>
                        <li><a href="/api/classification/order" rel="noopener noreferrer">Order</a></li>
                        <li><a href="/api/classification/suborder" rel="noopener noreferrer">Suborder</a></li>
                        <li><a href="/api/classification/infraorder" rel="noopener noreferrer">Infraorder</a></li>
                        <li><a href="/api/classification/family" rel="noopener noreferrer">Family</a></li>
                        <li><a href="/api/classification/subfamily" rel="noopener noreferrer">Subfamily</a></li>
                        <li><a href="/api/classification/genus" rel="noopener noreferrer">Genus</a></li>
                        <li><a href="/api/classification/species" rel="noopener noreferrer">Species</a></li>
                        <li><a href="/api/classification/subspecies" rel="noopener noreferrer">Subspecies</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <footer class="footer-wrapper">
            <p>Made by <a href="https://github.com/AsleyR">Asley R.</a></p>
            <p>Licensed under <a href="https://github.com/AsleyR/LifeWild/blob/main/LICENSE">GPL-3.0-or-later</a>.</p>
        </footer>
    </div>
</body>
</html>