<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="icon" type="image/svg+xml" href="LifeWild.svg" /> -->
    <link rel="stylesheet" href="homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - LifeWild Backend</title>
</head>
<body>
    <div class="header-container">
        <a class="project-logo-container" href="/">
            <img class="project-logo" src="LifeWild.svg"/>
            <h1>LifeWild Backend</h1>
        </a>
    </div>
    <div class="body-wrapper">
        <div class="">
            <h1>API Routes</h1>
            <ul>
                <li><a href="/api">Api section</a></li>
            </ul>
        </div>
        <div class="">
            <h1>Documentation</h1>
            <p>See the documentation in the <a href="https://github.com/AsleyR/LifeWild">project repository</a>.</p>
        </div>
    </div>
    <footer class="footer-wrapper">
        <p>Made by <a href="https://github.com/AsleyR">Asley R.</a></p>
        <p>Licensed under <a href="https://github.com/AsleyR/LifeWild/blob/main/LICENSE">GPL-3.0-or-later</a>.</p>
    </footer>
</body>
</html>